<footer class="footer">
    <div class="footer-top">
        <div class="row flex">
            <div class="column width-3">
                <div class="widget">
                    <h4 class="widget-title">Sartre Paris</h4>
                </div>
            </div>
            <div class="column width-9">
                <div class="widget">
                    <h4 class="widget-title">About</h4>
                </div>
                <div class="widget">
                    <div class="row">
                        <div class="column width-8">
                            <p>Building art is a synthesis of life in materialised form. We should try to bring in under the same hat not a splintered way of thinking, but all in harmony together.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                        <div class="column width-4">
                            <address>
                        126-130 Crosby Street, Soho<br>
                        New York City, NY 10012, U.S.
                    </address>
                    <p>
                        Tel: + 44 543 22 343<br>
                        Email: <a href="mailto:#">info@miller.com</a>
                    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="row">
            <div class="column width-12">
                <p class="copyright">
                    &copy; ThemeMountain. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>